li{
    margin: 20px;
    min-width: 310px;
    text-align: left;
}

li a{
    margin: 20px;
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 15px;
}

li a:hover{
    color: #E85D54;
    text-shadow: 2px 2px 5px black;
    font-size: 16px;
}

.my-blog{
    border: 1px solid #CFCFCF;
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: -100px 20px 100px 20px;
    box-shadow: 2px 2px 5px black;
}

.my-blog article{
    justify-content: center;
    text-align: left;
    padding: 10px;
    margin: 20px;
    display: inline-block;
}

.my-blog article p{
    display: block;
    margin-bottom: 80px;
}

.my-blog figure{
    justify-content: start;
    text-align: center;
    padding: 10px;
    margin: 20px;
    display: inline-block;
    border-radius: 10px;
    background-size: cover;
}

#personal-blog{
    color: #E85D54;
    text-shadow: 2px 2px 5px black;
}

@media screen and (min-width: 550px) and (max-width: 1400px) {
    .my-blog article{
        max-width: 550px;
        min-width: 450px;
    }
    .my-blog figure{
        max-width: 300px;
        min-width: 250px;
    }
    #personal-blog{
    width: 500px;
    }
}




