/* Styling of the social Icons that link to the social pages */

.social{
    background-color: #E85D54;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
    margin: -40px 50px 50px 50px;
}

.social:hover{
    width: 160px;
    height: 160px;
    font-size: 80px;
}

.social i {
    color: white;
    font-size: 75px;
    margin-top: 25%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    text-decoration: none;

}

a{
    text-decoration: none;
}

/* Styling of the section that contains the two social button links */
.social-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;
}

/* Styling of the blue section only for the contact page */
.blue-contact{
    background-color: #55799A;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 5rem;
    justify-content: space-around;
}

.blue-contact article {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 0 2rem;
    text-align: left;
    max-width: 500px;
    min-width: 280px;
    margin: 10px;
}

.blue-contact p{
    color: white;
    font-size: 1.2rem;
    font-weight: 100;
    margin: 20px;
    min-width: 200px;
    
}

.blue-contact a{
    color: white;
    font-size: 150px;
}

/* Styling of the ID tag sayhello to show that the contact page is the one selected */
#sayhello{
    color: #E85D54;
    border: 1px solid #E85D54;
}

