/* Styling of the projects section */

.projects{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -100px;
}

.projects article{
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    padding: 30px;
    margin: 5px;
    max-width: 300px;
    min-width: 280px;
    display: inline-block;
    box-shadow: 2px 2px 5px black;
    margin-bottom: 100px;
}

.projects p{
    color: white;
    font-weight: 500;
    padding-bottom: 25px;
    font-size: 1rem;
}

.projects h4{
    color: white;
}

.projects h5{
    color: white;
}

/* Styling of the background images behind each project targeted by an ID */
#wine{
    background-image: url("images/wine.jpg");
    background-size: cover;
}

#wine_api{
    background-image: url("images/wine_api.jpg");
    background-size: cover;
}

#bbq{
    background-image: url("images/bbq.png");
    background-size: cover;
}

#bbq_back{
    background-image: url("images/bbq.png");
    background-size: cover;
    background-position: 400px;
}

#bitcoin{
    background-image: url("images/bitcoin.jpg");
    background-size: cover;
}

#macros{
    background-image: url("images/macros.jpg");
    background-size: cover;
}

#weather{
    background-image: url("images/weather.jpg");
    background-size: cover;
}

#hotel{
    background-image: url("images/hotel.jpg");
    background-size: cover;
}

/* Styling of the written part of the projects section */
article div{
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 2px 2px 5px black;
    height: 400px;
}


