main{
    margin: auto;
}

li{
    margin: 20px;
    min-width: 310px;
    text-align: left;
}

li a{
    margin: 20px;
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 15px;
}

li a:hover{
    color: #E85D54;
    text-shadow: 2px 2px 5px black;
    font-size: 16px;
}

.blog{
    max-width: 950px;
    border: 1px solid #CFCFCF;
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 20px 100px 20px;
    box-shadow: 2px 2px 5px black;

}

.blog article{
    justify-content: center;
    text-align: left;
    padding: 10px;
    margin: 20px;
    display: inline-block;
}

.blog article p{
    display: block;
}

.blog figure{
    justify-content: start;
    text-align: center;
    padding: 10px;
    margin: 20px;
    display: inline-block;
    border-radius: 10px;
    background-size:auto;
}


.back-to-website{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
}

@media screen and (min-width: 550px){
    .blog article{
        max-width: 550px;
        min-width: 450px;
        display: inline-block;
    }
    .blog figure{
        max-width: 300px;
        min-width: 250px;
        display: inline-block;
    }
    
}




